body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.calculator{
    display:grid;
    grid-template-columns:repeat(4,60px);
    gap:10px;
}

input{
    grid-column:span 4;
    height:40px;
}
